<button style="display:none" #click href="#carouselExampleControls" data-slide="next" class="btn btn-success">click</button>
<button   style="display:none" #click2 href="#carouselExample" data-slide="next" class="btn btn-success">click2</button>
<button   style="display:none" #click3 href="#mobile1" data-slide="next" class="btn btn-success">click2</button>
<button   style="display:none" #click4 href="#mobile2" data-slide="next" class="btn btn-success">click2</button>
<div class="upper">
        
</div>
<div class="picture">
   <div class="row top">
       <div class="col-sm-7 col-12 name">
           <div class="Arihant">
               ARIHANT
           </div>
           <div class="Industry">
               INDUSTRY
           </div>
       </div>
       <div class="col-sm-5  col-12 align">
            <!-- <div class="round"> -->
                <!-- <img class="image" src="../../assets/photoshop.png"> -->
                <div id="carouselExample" class="carousel slide " data-pause = "false">
                    <div class="carousel-inner">
                      <div class="img-zoom-in center" *ngFor="let item of images; let k = index" [ngClass]="k == 0 ? 'carousel-item active' : 'carousel-item'" >
                
                              <img class="image" [src]=item  alt={{item.heading}} >
                            </div>
                         
                    </div>
                 </div>
            <!-- </div> -->
       </div>
   </div>
</div>
