
<div class="row item">
    <div class="col-xs-3">
        <img class="responsive" src="{{image}}">
    </div>
    <div class="col-xs-3">
     <div class="brand"> {{product.productId.Product_brand}}</div>
     <div class="price">Price:{{product.productId.Product_price}}</div>
    </div>
    <div class="col-xs-3">
        <div class="name">{{product.productId.Product_Name}}</div>
    </div>
    <div class="col-xs-3">
    <div> <span class="size">{{product.size}}</span>   <span  class="cross"><span class="glyphicon glyphicon-remove"></span></span></div>
        <div  class="btn btn-primary">Quantity <span class="glyphicon glyphicon-chevron-down"></span></div>
    </div>
</div>