<div class="background">
    <img class="image2" src="../../assets/product.jpg">
</div>
<div class="products">
<div class="center">
    <img class="image" src="../../assets/photoshop.png">
</div>
<div class="row center">
    <div *ngFor="let product of products">    
    <div class="container">
        <div class="img-background">
         <img class="image3"  src="../../assets/photoshop.png">
         <div class="name">Tractor</div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    </div>
</div>
</div>