agm-map{
  
   width: 50vh;
} 
.padding
{
  padding: 4vw 13vw;
}
.relative
{
  border: 4px solid #bfd62e;
  height: 50vh ;
   width: 50vh;
   position: absolute;
   top: 0;
   left: -1;
}
.image
{
  width: 60%;
}
.col-sm-6
{
  text-align: center;
}
@media screen and (max-width: 1025px) {
  .padding{
    padding: 4vw 7vw;
  }
  agm-map,.relative{
    height: 40vh ;
    width: 40vh;
 } 
 .image{
   width:80%;
 }
 .row
 {
   width: 100vw;
 }
  
}   
@media screen and (max-width: 576px) {
  .image{
    display: none;
  }
  .padding
  {
    padding: 4vw 17vw ;
  }
  .relative,agm-map{
     height: 300px;
     width: 300px;
  }
}
@media screen and (max-width: 426px) {
  .padding{
    padding: 4vw 15vw;
  }
}

@media screen and (max-width: 375px) {
  .padding
  {
    padding: 4vw 10vw ;
  }
}
@media screen and (max-width: 320px) {
  .padding
  {
    padding: 4vw 3vw ;
  }
}