 <!-- <div class="row background">

    <div class="col-sm-4 padding">
       ARIHANT INDUSTRY
    </div>
    <div class="col-sm-4 center">
         <ul>
            <li>
                PRODUCTS
            </li>
            <li>
                WHAT WE DO
            </li>
            <li>
                CONTACT US
            </li>
            <li>
                OUR LOCATION
            </li>
         </ul>
    </div>
    <div class="col-sm-4 center">
        <ul>
            <li>
                9412211658/8077553057
            </li>
            <li>
                JAINRAJIVE7@GMAIL.COM
            </li>
            <li>
                NEAR BUS STAND, GT ROAD KHATAULI(MZN)
            </li>
         </ul>
    </div>
 </div> -->
 <div class="footer " >
    <div class="web">
    <div class="row">
      <div class="col-sm-4 col-12">
       <img class="image2" src="../../assets/logo.svg">
      </div>
      <div class="col-sm-4 col-12">
        <div class="web-item " >
         <div class="item" >
           <a  class="item2"routerLink="/upload">  PRODUCTS </a>
         </div>
         <div class="item">
          <a  routerLink="/event">WHAT WE DO</a>
         </div>
         <div class="item">
          <a  routerLink="/developers" >LOCATION</a>
         </div>
         <div class="item">
          <a  routerLink="/developers" > DEVELOPER</a>
         </div>
        </div> 
      </div> 
      <div class="col-sm-4 col-12">
         <div class="contact">
           <div class="number">
             <span >9412211658/8077553057</span>
           </div>
           <div class="email">
            <span >jainrajive7@gmail.com</span>
           </div>
           <div class="address">
          <span >
            
            Arihant Industry, Near Bus Stand , GT Road Khatauli(MZN)
            </span>
    
           </div>
          
         </div>
      </div>
       </div>
    </div>
    
    <div class="mobile">
      <div class="mobile-item">
        <div class="item2">
          <a routerLink="/upload"> PRODUCTS </a>
    
        </div>
        <div class="item2">
          <a routerLink="/event">  What We Do </a>
          
        </div>
        
        <div class="item2">
          <a routerLink="/developers"> DEVELOPER</a>
         </div>
      </div>
      
      <div class="contact2">
        <div class="number2">
       <span >9412211658/8077553057</span>
    
        </div>
        <div class="email2">
        <span >jainrajive7@gmail.com</span>
    
        </div>
        <div class="address2">
          <span >
            Arihant Industry, Near Bus Stand , GT Road Khatauli(MZN) </span>
        </div>
        <div class="">
       <img class="image2" src="../../assets/logo.svg">

        </div>
      </div>
      
    </div>
    </div>
    